html,
body {
	/* background-color: rgb(247, 241, 216);
	 background-image: url("../images/bg2.jpg"); */
	background-size: cover;
}

body {
    font-family: century gothic;
}

.nav {
    display: inline-block;
    float: none;
}
/*
.li {
    text-align: center;
}
}
nav .navbar-nav li a {
	color: rgba(255, 255, 255, 0.5) !important;
}

nav .navbar-nav li a:hover {
	color: rgba(255, 255, 255, 0.8) !important;
}

footer {
    background-color: #263238;
    height: 5%;
}

.footer-text {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 12px;


.btn {
	width: 5em;
}

.bg-transluscent {
	background: rgba(245, 2.45, 245, 0.9);
}

#portrait {
	height: 120px;
	width: auto;
}
*/